In [1]:
%matplotlib ipympl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
current_file = '../data/Rover_II_Current_Mag_Hourly_Avg_pad_2018.csv'
df = pd.read_csv(current_file,parse_dates=[1])

In [3]:
df.head()

,Unnamed: 0,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,Date_time_R
0,1,2011-11-20 13:00:00,7.712734,-3.678000,-1.354000,10.8,32.0,11/20/2011 13:11
1,2,2011-11-20 14:00:00,1.711170,1.253333,-0.853333,16.0,13.0,11/20/2011 13:56
2,3,2011-11-20 15:00:00,2.024802,1.080000,-1.430000,25.0,30.0,11/20/2011 14:55
3,4,2011-11-20 16:00:00,3.567306,-1.413333,-3.036667,19.0,28.0,11/20/2011 15:59
4,5,2011-11-20 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['Date_time_R'] = pd.to_datetime(df['Date_time_R'])

In [5]:
df = df.set_index('Date_time_R')

In [6]:
df = df.drop('Unnamed: 0', axis = 1)

In [7]:
#calculating speed for the whole data set
df['speed'] = np.sqrt((df['Easting (cm/sec)']**2) + (df['Northing (cm/sec)']**2))

In [8]:
dfmonthly = df.resample('1m').mean()

In [9]:
plt.figure(figsize = (6,3))
plt.plot(dfmonthly.index, dfmonthly['speed'])
plt.xlabel('Time [year]')
plt.ylabel('Speed [cm/s]')

FigureCanvasNbAgg()

Text(0, 0.5, 'Speed [cm/s]')

In [10]:
plt.figure(figsize = (6,3))
plt.plot(df.index, df['speed'])
plt.xlabel('Time [year]')
plt.ylabel('Speed [cm/s]')

FigureCanvasNbAgg()

Text(0, 0.5, 'Speed [cm/s]')

In [48]:
#separating out the data from the year 2014-2018
dfsub = df.loc['2014-09-01':'2018-12-31']

#dfsub = df

In [49]:
#taking the monthy averages of the speed of the current 
dfsubmonthly = dfsub.resample('1m').mean()

#taking the monthy std dev of the speed of the current 
dfstdmonthly = dfsub.resample('1m').std()

In [50]:
plt.figure(figsize = (8,5))
plt.plot(dfsubmonthly.index, dfsubmonthly['Easting (cm/sec)'])
plt.xlabel('Time [year-month]')
plt.ylabel('East [cm/s]')

plt.figure(figsize = (8,5))
plt.plot(dfsubmonthly.index, dfsubmonthly['Northing (cm/sec)'])
plt.xlabel('Time [year-month]')
plt.ylabel('North [cm/s]')

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

Text(0, 0.5, 'North [cm/s]')

In [51]:
plt.figure(figsize = (8,5))
plt.plot(dfstdmonthly.index, dfstdmonthly['Easting (cm/sec)'])
plt.xlabel('Time [year-month]')
plt.ylabel('East [cm/s]')

plt.figure(figsize = (8,5))
plt.plot(dfstdmonthly.index, dfstdmonthly['Northing (cm/sec)'])
plt.xlabel('Time [year-month]')
plt.ylabel('North [cm/s]')

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

Text(0, 0.5, 'North [cm/s]')

In [53]:
date_time_number = (dfsub.index-np.datetime64('2000-01-01T00:00'))/np.timedelta64(1,'D')
#print(date_time_number)

#might need to convert dataframes to numpy arrays 
#this converts a time difference over a time difference to a number

In [54]:
#find longest uninterupted segment 
#U or v starting off 
#sampling frequency (put in times and then measurement values) 
#use datetime as number
#pick frequecies to go on x-axis (highest would be 1 hour- lowest would be defined as the record length = last minus first length of time )
#start with 100 arrays see what it gives me
#page 458

In [55]:
import scipy.signal as signal

In [56]:
u = np.array(dfsub['Easting (cm/sec)'])
v = np.array(dfsub['Northing (cm/sec)'])

In [57]:
fi, = np.where(np.isfinite(u))
N = len(fi)

In [36]:
record_length = (date_time_number[fi][-1]-date_time_number[fi][0])
print(record_length)

2522.6506944444445

In [37]:
nyqst = N/(2*record_length)

In [38]:
top = nyqst*(np.pi*2)
freq = np.linspace(((1/record_length)*(np.pi*2)), top, 100)

In [39]:
N/2

20411.5

In [40]:
top2 = np.log10(top)
first = np.log10((1/record_length)*(np.pi*2))

#freq3 = np.logspace(first, top2, 1000)
freq3 = np.linspace((1/record_length)*(np.pi*2),top,np.round(N/2))

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:5: DeprecationWarning: object of type <class 'numpy.float64'> cannot be safely interpreted as an integer.

In [41]:
pgram = signal.lombscargle(date_time_number, u, freq3)

freq4 = freq3/(2*np.pi)

In [42]:
plt.figure(figsize=(5,4))
#plt.plot(freq, pgram)
plt.loglog(freq4,pgram,'-')

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

In [45]:
#pandas resample function '1h' gives exactly every hour  use .interpolate

In [58]:
dfsub

,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,speed
Date_time_R,,,,,,,
2014-10-11 13:04:00,2014-10-11 13:00:00,0.908994,-0.233333,0.860000,44.333333,33.000000,0.891092
2014-10-11 13:57:00,2014-10-11 14:00:00,1.350541,0.330000,-0.160000,26.500000,34.500000,0.366742
2014-10-11 14:41:00,2014-10-11 15:00:00,0.907747,0.200000,-0.325000,40.500000,32.500000,0.381608
2014-10-11 15:57:00,2014-10-11 16:00:00,1.129383,0.980000,-0.280000,27.500000,24.500000,1.019215
2014-10-11 16:56:00,2014-10-11 17:00:00,2.642760,2.380000,-1.065000,25.500000,34.500000,2.607417
2014-10-11 18:51:00,2014-10-11 19:00:00,4.305535,3.150000,-2.900000,51.000000,48.500000,4.281647
2014-10-11 19:55:00,2014-10-11 20:00:00,4.011699,3.030000,-2.513333,15.333333,26.666667,3.936717
2014-10-11 21:02:00,2014-10-11 21:00:00,2.783442,2.515000,-1.085000,31.500000,38.500000,2.739060
2014-10-11 21:48:00,2014-10-11 22:00:00,2.596728,2.500000,-0.285000,18.000000,32.000000,2.516193
2014-10-11 22:54:00,2014-10-11 23:00:00,2.736859,2.140000,1.663333,34.666667,13.000000,2.710402
2014-10-11 23:58:00,2014-10-12 00:00:00,1.947592,0.750000,1.795000,28.000000,50.500000,1.945386
2014-10-12 01:02:00,2014-10-12 01:00:00,1.255648,0.760000,0.850000,22.333333,28.000000,1.140219
2014-10-12 02:09:00,2014-10-12 02:00:00,1.969672,-0.490000,1.900000,38.500000,39.000000,1.962167
2014-10-12 02:55:00,2014-10-12 03:00:00,2.434411,-0.680000,2.320000,25.000000,32.000000,2.417602
2014-10-12 04:01:00,2014-10-12 04:00:00,1.426716,0.133333,1.243333,41.666667,13.000000,1.250462
2014-10-12 05:05:00,2014-10-12 05:00:00,0.633325,0.425000,-0.465000,35.000000,50.500000,0.629960
2014-10-12 05:59:00,2014-10-12 06:00:00,0.987494,0.670000,-0.720000,29.000000,24.000000,0.983514
2014-10-12 06:45:00,2014-10-12 07:00:00,1.356342,0.965000,-0.865000,15.000000,46.500000,1.295936
2014-10-12 07:52:00,2014-10-12 08:00:00,2.084823,1.923333,-0.750000,31.666667,27.000000,2.064391
2014-10-12 08:56:00,2014-10-12 09:00:00,2.424363,2.345000,0.225000,26.000000,4.500000,2.355770
2014-10-12 10:00:00,2014-10-12 10:00:00,3.180281,2.246667,2.120000,19.333333,41.333333,3.088998
2014-10-12 11:06:00,2014-10-12 11:00:00,2.097375,1.385000,1.575000,36.000000,22.000000,2.097344
2014-10-12 11:52:00,2014-10-12 12:00:00,1.571759,1.490000,0.490000,22.000000,45.500000,1.568502
2014-10-12 12:59:00,2014-10-12 13:00:00,0.662715,-0.066667,0.556667,38.666667,27.000000,0.560644
2014-10-12 14:03:00,2014-10-12 14:00:00,1.113038,-0.795000,-0.765000,33.000000,4.500000,1.103291
2014-10-12 15:07:00,2014-10-12 15:00:00,1.005690,-0.926667,-0.350000,26.333333,42.000000,0.990561
2014-10-12 16:13:00,2014-10-12 16:00:00,1.392084,-1.220000,-0.665000,43.000000,23.500000,1.389469
2014-10-12 16:59:00,2014-10-12 17:00:00,1.108782,-1.080000,0.200000,29.000000,46.000000,1.098362
2014-10-12 17:53:00,2014-10-12 18:00:00,0.511667,-0.260000,0.405000,23.000000,20.500000,0.481274
2014-10-12 18:57:00,2014-10-12 19:00:00,1.629922,1.476667,0.650000,17.000000,17.666667,1.613395
...,...,...,...,...,...,...,...
2018-10-16 00:00:00,2018-10-16 00:00:00,1.282679,0.946667,0.826667,20.333333,16.666667,1.256804
2018-10-16 01:05:00,2018-10-16 01:00:00,0.809309,-0.210000,0.680000,35.500000,27.000000,0.711688
2018-10-16 01:51:00,2018-10-16 02:00:00,0.484035,-0.010000,0.275000,21.000000,38.000000,0.275182
2018-10-16 02:56:00,2018-10-16 03:00:00,0.587213,0.063333,0.510000,36.666667,17.666667,0.513917
2018-10-16 03:59:00,2018-10-16 04:00:00,1.119199,0.660000,0.895000,29.500000,27.500000,1.112036
2018-10-16 05:02:00,2018-10-16 05:00:00,0.682257,0.196667,0.623333,22.333333,36.666667,0.653622
2018-10-16 06:08:00,2018-10-16 06:00:00,0.314842,0.100000,-0.155000,38.000000,17.000000,0.184459
2018-10-16 06:45:00,2018-10-16 07:00:00,1.154957,0.730000,-0.895000,45.000000,0.000000,1.154957
2018-10-16 07:41:00,2018-10-16 08:00:00,1.679490,-0.095000,-1.650000,40.500000,44.000000,1.652733
2018-10-16 08:31:00,2018-10-16 09:00:00,1.596152,0.140000,-1.590000,31.000000,28.000000,1.596152
2018-10-16 10:17:00,2018-10-16 10:00:00,0.470894,-0.010000,-0.465000,17.000000,31.500000,0.465108
2018-10-16 11:10:00,2018-10-16 11:00:00,0.793267,0.715000,-0.265000,40.000000,17.000000,0.762529
2018-10-16 11:55:00,2018-10-16 12:00:00,1.016379,0.995000,-0.205000,25.500000,28.000000,1.015899
2018-10-16 13:01:00,2018-10-16 13:00:00,0.540374,-0.060000,0.496667,40.666667,38.333333,0.500278
2018-10-16 14:04:00,2018-10-16 14:00:00,0.950463,-0.165000,0.930000,34.000000,17.500000,0.944524
2018-10-16 15:07:00,2018-10-16 15:00:00,0.363959,-0.070000,0.353333,27.000000,17.333333,0.360201
2018-10-16 16:12:00,2018-10-16 16:00:00,0.330624,-0.290000,-0.070000,42.000000,38.000000,0.298329
2018-10-16 16:58:00,2018-10-16 17:00:00,1.229323,-1.140000,0.030000,28.000000,19.000000,1.140395
2018-10-16 18:03:00,2018-10-16 18:00:00,0.916055,-0.723333,0.210000,43.000000,39.333333,0.753201
2018-10-16 19:06:00,2018-10-16 19:00:00,0.521166,0.415000,-0.315000,36.000000,38.500000,0.521009
2018-10-16 19:59:00,2018-10-16 20:00:00,0.578942,0.565000,0.055000,29.000000,23.000000,0.567671
2018-10-16 21:00:00,2018-10-16 21:00:00,1.214905,1.136667,-0.410000,19.666667,21.000000,1.208351
2018-10-16 22:00:00,2018-10-16 22:00:00,2.613204,2.225000,-1.370000,30.000000,39.000000,2.612953
2018-10-16 22:53:00,2018-10-16 23:00:00,2.371992,2.260000,-0.715000,23.000000,23.500000,2.370406
2018-10-16 23:56:00,2018-10-17 00:00:00,2.757881,2.553333,-1.036667,16.000000,22.666667,2.755756
2018-10-17 01:01:00,2018-10-17 01:00:00,2.777722,2.715000,-0.240000,31.000000,43.000000,2.725587
2018-10-17 01:47:00,2018-10-17 02:00:00,1.873738,1.615000,-0.895000,17.000000,24.000000,1.846415
2018-10-17 02:52:00,2018-10-17 03:00:00,1.172875,0.876667,-0.776667,32.333333,24.333333,1.171220
2018-10-17 03:55:00,2018-10-17 04:00:00,0.244100,0.135000,-0.110000,25.000000,43.500000,0.174141
2018-10-17 04:48:00,2018-10-17 05:00:00,0.745551,-0.585000,0.450000,18.000000,28.000000,0.738055

In [68]:
hourly = dfsub.resample('2H',limit=1).mean()

In [69]:
#print(hourly)
hourly_time_number = (hourly.index-np.datetime64('2000-01-01T00:00'))/np.timedelta64(1,'D')

In [70]:
plt.figure()
plt.plot(hourly.index,hourly['Easting (cm/sec)'])

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

In [71]:
plt.figure()
plt.plot(dfsub.index,dfsub['Easting (cm/sec)'])

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

In [32]:
#set interpolate to 2 hours

In [72]:
#separating out the data from the year 2011-2013
dates_2011_2013 = df.loc['2011-01-01':'2013-1-31']
dates_2011_2013['dates'] = dates_2011_2013.index

dates_2011_2013.head()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,speed,dates
Date_time_R,,,,,,,,
2011-11-20 13:11:00,2011-11-20 13:00:00,7.712734,-3.678000,-1.354000,10.8,32.0,3.919311,2011-11-20 13:11:00
2011-11-20 13:56:00,2011-11-20 14:00:00,1.711170,1.253333,-0.853333,16.0,13.0,1.516253,2011-11-20 13:56:00
2011-11-20 14:55:00,2011-11-20 15:00:00,2.024802,1.080000,-1.430000,25.0,30.0,1.792010,2011-11-20 14:55:00
2011-11-20 15:59:00,2011-11-20 16:00:00,3.567306,-1.413333,-3.036667,19.0,28.0,3.349456,2011-11-20 15:59:00
2011-11-20 18:22:00,2011-11-20 18:00:00,3.677635,-2.650000,-2.550000,22.0,32.0,3.677635,2011-11-20 18:22:00

In [73]:
#calculating the speed of the current 
dates_2011_2013['speed'] = np.sqrt((dates_2011_2013['Easting (cm/sec)']**2) + (dates_2011_2013['Northing (cm/sec)']**2))
dates_2011_2013.head()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,speed,dates
Date_time_R,,,,,,,,
2011-11-20 13:11:00,2011-11-20 13:00:00,7.712734,-3.678000,-1.354000,10.8,32.0,3.919311,2011-11-20 13:11:00
2011-11-20 13:56:00,2011-11-20 14:00:00,1.711170,1.253333,-0.853333,16.0,13.0,1.516253,2011-11-20 13:56:00
2011-11-20 14:55:00,2011-11-20 15:00:00,2.024802,1.080000,-1.430000,25.0,30.0,1.792010,2011-11-20 14:55:00
2011-11-20 15:59:00,2011-11-20 16:00:00,3.567306,-1.413333,-3.036667,19.0,28.0,3.349456,2011-11-20 15:59:00
2011-11-20 18:22:00,2011-11-20 18:00:00,3.677635,-2.650000,-2.550000,22.0,32.0,3.677635,2011-11-20 18:22:00

In [74]:
monthly_averages_2011 = dates_2011_2013.resample('1m').mean()

In [75]:
plt.figure(figsize = (10,5))
plt.plot(monthly_averages_2011.index, monthly_averages_2011['speed'])
plt.xlabel('Time [year-month]')
plt.ylabel('Speed [cm/s]')

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

Text(0, 0.5, 'Speed [cm/s]')

In [76]:
date_time_number_2011 = (dates_2011_2013['dates']-np.datetime64('2000-01-01T00:00'))/np.timedelta64(1,'D')
data_2011 = dates_2011_2013['Easting (cm/sec)']
record_length_2011 = (date_time_number_2011[-1]-date_time_number_2011[0])
#top_time = (2*np.pi)/(1/24)
print(record_length)

top = 24*(np.pi*2)
freq_2011 = np.linspace(((1/record_length_2011)*(np.pi*2)), top, 100)

2522.6506944444445

In [77]:
#freq_2011_2 = freq_2011/(2*np.pi)
top_2011 = np.log10(top)
first_2011 = np.log10((1/record_length_2011)*(np.pi*2))

freq_2011_2 = np.logspace(first_2011, top_2011, 100)

pgram_2011 = signal.lombscargle(date_time_number_2011, data_2011, freq_2011_2)

In [78]:
plt.figure()
plt.loglog(freq_2011_2, pgram_2011)
plt.savefig('2011_spectral_analysis.png')

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

In [79]:
#separating out the data from the year 2014-2015
dates_2014_2015 = df.loc['2014-01-01':'2015-6-30']
dates_2014_2015['dates'] = dates_2014_2015.index

dates_2014_2015.head()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,speed,dates
Date_time_R,,,,,,,,
2014-10-11 13:04:00,2014-10-11 13:00:00,0.908994,-0.233333,0.860,44.333333,33.0,0.891092,2014-10-11 13:04:00
2014-10-11 13:57:00,2014-10-11 14:00:00,1.350541,0.330000,-0.160,26.500000,34.5,0.366742,2014-10-11 13:57:00
2014-10-11 14:41:00,2014-10-11 15:00:00,0.907747,0.200000,-0.325,40.500000,32.5,0.381608,2014-10-11 14:41:00
2014-10-11 15:57:00,2014-10-11 16:00:00,1.129383,0.980000,-0.280,27.500000,24.5,1.019215,2014-10-11 15:57:00
2014-10-11 16:56:00,2014-10-11 17:00:00,2.642760,2.380000,-1.065,25.500000,34.5,2.607417,2014-10-11 16:56:00

In [80]:
#calculating the speed of the current 
dates_2014_2015['speed'] = np.sqrt((dates_2014_2015['Easting (cm/sec)']**2) + (dates_2014_2015['Northing (cm/sec)']**2))
dates_2014_2015.head()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,speed,dates
Date_time_R,,,,,,,,
2014-10-11 13:04:00,2014-10-11 13:00:00,0.908994,-0.233333,0.860,44.333333,33.0,0.891092,2014-10-11 13:04:00
2014-10-11 13:57:00,2014-10-11 14:00:00,1.350541,0.330000,-0.160,26.500000,34.5,0.366742,2014-10-11 13:57:00
2014-10-11 14:41:00,2014-10-11 15:00:00,0.907747,0.200000,-0.325,40.500000,32.5,0.381608,2014-10-11 14:41:00
2014-10-11 15:57:00,2014-10-11 16:00:00,1.129383,0.980000,-0.280,27.500000,24.5,1.019215,2014-10-11 15:57:00
2014-10-11 16:56:00,2014-10-11 17:00:00,2.642760,2.380000,-1.065,25.500000,34.5,2.607417,2014-10-11 16:56:00

In [81]:
plt.figure()
plt.plot(dates_2014_2015.index, dates_2014_2015['speed'])

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

In [83]:
monthly_averages_2014 = dates_2014_2015.resample('1m').mean()

In [84]:
plt.figure(figsize = (10,5))
plt.plot(monthly_averages_2014.index, monthly_averages_2014['speed'])
plt.xlabel('Time [year-month]')
plt.ylabel('Speed [cm/s]')

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

Text(0, 0.5, 'Speed [cm/s]')

In [85]:
date_time_number_2014 = (dates_2014_2015['dates']-np.datetime64('2000-01-01T00:00'))/np.timedelta64(1,'D')
data_2014 = dates_2014_2015['Easting (cm/sec)']
record_length_2014 = (date_time_number_2014[-1]-date_time_number_2014[0])
#top_time = (2*np.pi)/(1/24)
print(record_length)

top = 24*(np.pi*2)
freq_2014 = np.linspace(((1/record_length_2014)*(np.pi*2)), top, 100)

2522.6506944444445

In [86]:
#freq_2011_2 = freq_2011/(2*np.pi)
top_2014 = np.log10(top)
first_2014 = np.log10((1/record_length_2014)*(np.pi*2))

freq_2014_2 = np.logspace(first_2014, top_2014, 100)

pgram_2014 = signal.lombscargle(date_time_number_2014, data_2014, freq_2014_2)

In [87]:
plt.figure()
plt.loglog(freq_2014_2, pgram_2014)
plt.savefig('2014_spectral_analysis.png')

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/matplotlib/pyplot.py:514: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()