In [1]:
%matplotlib ipympl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
current_file = '../data/Rover_II_Current_Mag_Hourly_Avg_pad_2018.csv'

In [3]:
df = pd.read_csv(current_file,parse_dates=[1])

In [4]:
df.head()

,Unnamed: 0,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,Date_time_R
0,1,2011-11-20 13:00:00,7.712734,-3.678000,-1.354000,10.8,32.0,11/20/2011 13:11
1,2,2011-11-20 14:00:00,1.711170,1.253333,-0.853333,16.0,13.0,11/20/2011 13:56
2,3,2011-11-20 15:00:00,2.024802,1.080000,-1.430000,25.0,30.0,11/20/2011 14:55
3,4,2011-11-20 16:00:00,3.567306,-1.413333,-3.036667,19.0,28.0,11/20/2011 15:59
4,5,2011-11-20 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['Date_time_R'] = pd.to_datetime(df['Date_time_R'])

In [6]:
df = df.set_index('Date_time_R')

In [7]:
df = df.drop('Unnamed: 0', axis = 1)

In [8]:
#calculating speed for the whole data set
df['speed'] = np.sqrt((df['Easting (cm/sec)']**2) + (df['Northing (cm/sec)']**2))

In [9]:
dfmonthly = df.resample('1m').mean()

In [10]:
plt.figure(figsize = (6,3))
plt.plot(dfmonthly.index, dfmonthly['speed'])
plt.xlabel('Time [year]')
plt.ylabel('Speed [cm/s]')

FigureCanvasNbAgg()

Text(0, 0.5, 'Speed [cm/s]')

In [11]:
plt.figure(figsize = (6,3))
plt.plot(df.index, df['speed'])
plt.xlabel('Time [year]')
plt.ylabel('Speed [cm/s]')

FigureCanvasNbAgg()

Text(0, 0.5, 'Speed [cm/s]')

In [12]:
#separating out the data from the year 2016-2018
dfsub = df.loc['2015-09-01':'2018-12-31']

In [13]:
#taking the monthy averages of the speed of the current 
dfsubmonthly = dfsub.resample('1m').mean()

In [14]:
plt.figure(figsize = (5,3))
plt.plot(dfsubmonthly.index, dfsubmonthly['Easting (cm/sec)'])
plt.xlabel('Time [year-month]')
plt.ylabel('Speed [cm/s]')

FigureCanvasNbAgg()

Text(0, 0.5, 'Speed [cm/s]')

In [15]:
date_time_number = (dfsub.index-np.datetime64('2000-01-01T00:00'))/np.timedelta64(1,'D')
#print(date_time_number)

#might need to convert dataframes to numpy arrays 
#this converts a time difference over a time difference to a number

In [16]:
#find longest uninterupted segment 
#U or v starting off 
#sampling frequency (put in times and then measurement values) 
#use datetime as number
#pick frequecies to go on x-axis (highest would be 1 hour- lowest would be defined as the record length = last minus first length of time )
#start with 100 arrays see what it gives me
#page 458

In [17]:
import scipy.signal as signal

In [18]:
u = np.array(dfsub['Easting (cm/sec)'])
v = np.array(dfsub['Northing (cm/sec)'])

In [19]:
fi, = np.where(np.isfinite(u))
N = len(fi)

In [20]:
record_length = (date_time_number[fi][-1]-date_time_number[fi][0])
print(record_length)

1073.2458333333334

In [21]:
nyqst = N/(2*record_length)

In [22]:
top = nyqst*(np.pi*2)
freq = np.linspace(((1/record_length)*(np.pi*2)), top, 100)

In [23]:
N/2

12658.5

In [24]:
top2 = np.log10(top)
first = np.log10((1/record_length)*(np.pi*2))

#freq3 = np.logspace(first, top2, 1000)
freq3 = np.linspace((1/record_length)*(np.pi*2),top,np.round(N/2))

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:5: DeprecationWarning: object of type <class 'numpy.float64'> cannot be safely interpreted as an integer.

In [25]:
pgram = signal.lombscargle(date_time_number, u, freq3)

freq4 = freq3/(2*np.pi)

In [26]:
plt.figure(figsize=(5,4))
#plt.plot(freq, pgram)
plt.loglog(freq4,pgram,'-')

FigureCanvasNbAgg()

In [27]:
#pandas resample function '1h' gives exactly every hour  use .interpolate

In [28]:
hourly = dfsub.resample('1H').interpolate()

In [29]:
#print(hourly)
hourly_time_number = (hourly.index-np.datetime64('2000-01-01T00:00'))/np.timedelta64(1,'D')

In [30]:
plt.figure()
plt.plot(hourly.index,hourly['Easting (cm/sec)'])

FigureCanvasNbAgg()

In [31]:
plt.figure()
plt.plot(dfsub.index,dfsub['Easting (cm/sec)'])

FigureCanvasNbAgg()

In [32]:
#set interpolate to 2 hours

In [33]:
#separating out the data from the year 2011-2013
dates_2011_2013 = df.loc['2011-01-01':'2013-1-31']
dates_2011_2013['dates'] = dates_2011_2013.index

dates_2011_2013.head()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,speed,dates
Date_time_R,,,,,,,,
2011-11-20 13:11:00,2011-11-20 13:00:00,7.712734,-3.678000,-1.354000,10.8,32.0,3.919311,2011-11-20 13:11:00
2011-11-20 13:56:00,2011-11-20 14:00:00,1.711170,1.253333,-0.853333,16.0,13.0,1.516253,2011-11-20 13:56:00
2011-11-20 14:55:00,2011-11-20 15:00:00,2.024802,1.080000,-1.430000,25.0,30.0,1.792010,2011-11-20 14:55:00
2011-11-20 15:59:00,2011-11-20 16:00:00,3.567306,-1.413333,-3.036667,19.0,28.0,3.349456,2011-11-20 15:59:00
2011-11-20 18:22:00,2011-11-20 18:00:00,3.677635,-2.650000,-2.550000,22.0,32.0,3.677635,2011-11-20 18:22:00

In [34]:
#calculating the speed of the current 
dates_2011_2013['speed'] = np.sqrt((dates_2011_2013['Easting (cm/sec)']**2) + (dates_2011_2013['Northing (cm/sec)']**2))
dates_2011_2013.head()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,speed,dates
Date_time_R,,,,,,,,
2011-11-20 13:11:00,2011-11-20 13:00:00,7.712734,-3.678000,-1.354000,10.8,32.0,3.919311,2011-11-20 13:11:00
2011-11-20 13:56:00,2011-11-20 14:00:00,1.711170,1.253333,-0.853333,16.0,13.0,1.516253,2011-11-20 13:56:00
2011-11-20 14:55:00,2011-11-20 15:00:00,2.024802,1.080000,-1.430000,25.0,30.0,1.792010,2011-11-20 14:55:00
2011-11-20 15:59:00,2011-11-20 16:00:00,3.567306,-1.413333,-3.036667,19.0,28.0,3.349456,2011-11-20 15:59:00
2011-11-20 18:22:00,2011-11-20 18:00:00,3.677635,-2.650000,-2.550000,22.0,32.0,3.677635,2011-11-20 18:22:00

In [35]:
monthly_averages_2011 = dates_2011_2013.resample('1m').mean()

In [36]:
plt.figure(figsize = (10,5))
plt.plot(monthly_averages_2011.index, monthly_averages_2011['speed'])
plt.xlabel('Time [year-month]')
plt.ylabel('Speed [cm/s]')

FigureCanvasNbAgg()

Text(0, 0.5, 'Speed [cm/s]')

In [37]:
date_time_number_2011 = (dates_2011_2013['dates']-np.datetime64('2000-01-01T00:00'))/np.timedelta64(1,'D')
data_2011 = dates_2011_2013['Easting (cm/sec)']
record_length_2011 = (date_time_number_2011[-1]-date_time_number_2011[0])
#top_time = (2*np.pi)/(1/24)
print(record_length)

top = 24*(np.pi*2)
freq_2011 = np.linspace(((1/record_length_2011)*(np.pi*2)), top, 100)

1073.2458333333334

In [38]:
#freq_2011_2 = freq_2011/(2*np.pi)
top_2011 = np.log10(top)
first_2011 = np.log10((1/record_length_2011)*(np.pi*2))

freq_2011_2 = np.logspace(first_2011, top_2011, 100)

pgram_2011 = signal.lombscargle(date_time_number_2011, data_2011, freq_2011_2)

In [39]:
plt.figure()
plt.loglog(freq_2011_2, pgram_2011)
plt.savefig('2011_spectral_analysis.png')

FigureCanvasNbAgg()

In [40]:
#separating out the data from the year 2014-2015
dates_2014_2015 = df.loc['2014-01-01':'2015-6-30']
dates_2014_2015['dates'] = dates_2014_2015.index

dates_2014_2015.head()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,speed,dates
Date_time_R,,,,,,,,
2014-10-11 13:04:00,2014-10-11 13:00:00,0.908994,-0.233333,0.860,44.333333,33.0,0.891092,2014-10-11 13:04:00
2014-10-11 13:57:00,2014-10-11 14:00:00,1.350541,0.330000,-0.160,26.500000,34.5,0.366742,2014-10-11 13:57:00
2014-10-11 14:41:00,2014-10-11 15:00:00,0.907747,0.200000,-0.325,40.500000,32.5,0.381608,2014-10-11 14:41:00
2014-10-11 15:57:00,2014-10-11 16:00:00,1.129383,0.980000,-0.280,27.500000,24.5,1.019215,2014-10-11 15:57:00
2014-10-11 16:56:00,2014-10-11 17:00:00,2.642760,2.380000,-1.065,25.500000,34.5,2.607417,2014-10-11 16:56:00

In [41]:
#calculating the speed of the current 
dates_2014_2015['speed'] = np.sqrt((dates_2014_2015['Easting (cm/sec)']**2) + (dates_2014_2015['Northing (cm/sec)']**2))
dates_2014_2015.head()

/Users/tomconnolly/programs/anaconda/envs/py37/lib/python3.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Date_time_Merge_hour,Current_mag,Easting (cm/sec),Northing (cm/sec),Minutes,Seconds,speed,dates
Date_time_R,,,,,,,,
2014-10-11 13:04:00,2014-10-11 13:00:00,0.908994,-0.233333,0.860,44.333333,33.0,0.891092,2014-10-11 13:04:00
2014-10-11 13:57:00,2014-10-11 14:00:00,1.350541,0.330000,-0.160,26.500000,34.5,0.366742,2014-10-11 13:57:00
2014-10-11 14:41:00,2014-10-11 15:00:00,0.907747,0.200000,-0.325,40.500000,32.5,0.381608,2014-10-11 14:41:00
2014-10-11 15:57:00,2014-10-11 16:00:00,1.129383,0.980000,-0.280,27.500000,24.5,1.019215,2014-10-11 15:57:00
2014-10-11 16:56:00,2014-10-11 17:00:00,2.642760,2.380000,-1.065,25.500000,34.5,2.607417,2014-10-11 16:56:00

In [42]:
plt.figure()
plt.plot(dates_2014_2015.index, dates_2014_2015['speed'])

FigureCanvasNbAgg()

In [43]:
monthly_averages_2014 = dates_2014_2015.resample('1m').mean()

In [44]:
plt.figure(figsize = (10,5))
plt.plot(monthly_averages_2014.index, monthly_averages_2014['speed'])
plt.xlabel('Time [year-month]')
plt.ylabel('Speed [cm/s]')

FigureCanvasNbAgg()

Text(0, 0.5, 'Speed [cm/s]')

In [45]:
date_time_number_2014 = (dates_2014_2015['dates']-np.datetime64('2000-01-01T00:00'))/np.timedelta64(1,'D')
data_2014 = dates_2014_2015['Easting (cm/sec)']
record_length_2014 = (date_time_number_2014[-1]-date_time_number_2014[0])
#top_time = (2*np.pi)/(1/24)
print(record_length)

top = 24*(np.pi*2)
freq_2014 = np.linspace(((1/record_length_2014)*(np.pi*2)), top, 100)

1073.2458333333334

In [46]:
#freq_2011_2 = freq_2011/(2*np.pi)
top_2014 = np.log10(top)
first_2014 = np.log10((1/record_length_2014)*(np.pi*2))

freq_2014_2 = np.logspace(first_2014, top_2014, 100)

pgram_2014 = signal.lombscargle(date_time_number_2014, data_2014, freq_2014_2)

In [47]:
plt.figure()
plt.loglog(freq_2014_2, pgram_2014)
plt.savefig('2014_spectral_analysis.png')

FigureCanvasNbAgg()